<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858858393299-g01q9qc2jnsh4k730sb6rgvbcdjqi9ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858858393299-g01q9qc2jnsh4k730sb6rgvbcdjqi9ju</string>
	<key>API_KEY</key>
	<string>AIzaSyBttYdw3_2kCaXJTIXdOU5j_ihFnXqTS6M</string>
	<key>GCM_SENDER_ID</key>
	<string>858858393299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaltrzopek.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwaitmichalt93</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwaitmichalt93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858858393299:ios:55c504942bd2fede458e26</string>
</dict>
</plist>